.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-family: Inter, "Arial", "sans-serif";
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration-line: none;
  color: black;
  transition: color 0.5 ease;
  cursor: pointer;
}

.nav__link:hover {
  color: #2f80ed;
}
