html {
  scroll-behavior: smooth;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter";
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  background: center / cover no-repeat #ffffff
    url(../images/background_header.svg);
  position: relative;
  height: 800px;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #3f96f3;
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Inter";
  font-style: normal;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
}

.body {
  background-color: #ffffff;
  background-image: url("./images/logo_coffeeshop_dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-family: Inter, "Arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration-line: none;
  color: black;
}

.nav__link:hover {
  opacity: 50%;
  transition: opacity 0.5s;
  color: #2f80ed;
}

.recipes {
  color: #ffffff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
}

.recipes__title {
  margin: 0 0 24px;
  max-width: 580px;
  font-family: "Inter";
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.reservation {
  padding: 100px 0 120px;
  color: #ffffff;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  color: #000;
}

.reservation__form {
  margin: 0 auto;
}

.menu {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  background-position: center;
}

.menu__title {
  font-family: "Inter", Arial, "sans-serif";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  font-family: "Noto Serif", "Times New Roman", Serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  list-style-type: none;
  margin: 0;
}

.form {
  max-width: 385px;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__input {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

.form__input {
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__button {
  padding: 20px 0;
  width: 100%;
  border: none;
  border-radius: 4px;
  margin-bottom: 32px;
  font-family: "Inter", "Arial" "Sans-Serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: blue;
  cursor: pointer;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__column-heading {
  margin: 0 0 20px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__social-heading {
  font-family: "Inter", Arial, "sans-serif";
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: "Inter", Arial, "sans-serif";
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link:hover {
  color: #c1c1c1;
  transition: 0.5s;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin: 0;
  margin: 108px 0 0;
  font-family: "Inter", Arial, "sans-serif";
  font-size: 16px;
  line-height: 20px;
}

.card {
  width: 540px;
}

.card__title {
  font-family: "Inter", Arial, "sans-serif";
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  display: flex;
  gap: 10px;
  font-family: "Noto Serif", "Times New Roman", Serif;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
}

.about {
  background-color: #0a2850;
  color: #fff;
  padding: 100px 80px 173px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.about__title {
  max-width: 251px;
  font-family: "Inter", Arial, "sans-serif";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.about__content {
  max-width: 660px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 20px;
}

.about__circle {
  position: absolute;
  background-color: dodgerblue;
  border-radius: 50%;
  width: 426px;
  height: 426px;
  top: -152px;
  left: -129px;
  z-index: -1;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
